#splash img{
	height: 100vh;
	width: 100%;
}

#home{
	height: 100vh;
	background-image: url("../img/cam.gif");
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	top: 500px;
}

#home button{
	height: 100px;
	width: 33%;
	margin:7%;
	font-size: 70px;
}

