#splash {
	height: 100vh;
	width: 100%;
	background-color: #ff00bf;
	box-shadow: inset 0 0 1000px #611f80;	
	display: flex;
	justify-content: center;
	align-items: center;
}

#splash img{
	height: 10vh;
	width: 300px;
}

#home{
	height: 100vh;
	background-image: url("../img/cam.gif");
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	top: 500px;
}

#home a{
	position:absolute;
	bottom: 500px;
	font-size: 80px;
	width: 40%;
	padding: 70px 0 100px 0;
}

#home img{
	width: 70%;
}

.login{
	left: 520px;
}

.singup{
	left: 70px;
}
